{% extends 'itom/base.html' %}
{% block title %}
    邮件发送
{% endblock %}
{% block main %}
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <form class="layui-form layui-card-header layuiadmin-card-header-auto" action="">
                        <div class="layui-form-item">
                            <div class="layui-inline">
                                <label class="layui-form-label">平台</label>
                                <div class="layui-input-block">
                                    <select name="platform" lay-verify="required">
                                        <option value=""></option>
                                        <option value="SinaShow">SinaShow</option>
                                        <option value="FengBo">疯播</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">程序</label>
                                <div class="layui-input-block">
                                    <select name="program" lay-verify="required">
                                        <option value=""></option>
                                        <option value="AvsServer">AvsServer</option>
                                        <option value="ChatServer">ChatServer</option>
                                        <option value="TransTrans">TransTrans</option>
                                        <option value="PhoneChatServer">PhoneChatServer</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">组名</label>
                                <div class="layui-input-block">
                                    <input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input" lay-verify="required">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <label class="layui-form-label">日期</label>
                                <div class="layui-input-block">
                                    <input type="text" name="date" required lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-block">
                                    <button class="layui-btn" lay-submit lay-filter="formDemo">提交</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
{#                <div class="layui-card">#}
{#                    <div class="layui-card-body">#}
{#                        <table id="demo" lay-filter="test"></table>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}
{% block myScript %}
    <script src="/static/layuiadmin/layui/layui.js"></script>
{#    表单元素#}
    <script>
        layui.use('form', function(){
            var $ = layui.$,
            form = layui.form;
            form.on('submit(formDemo)', function(data){
                $.ajax({
                    url:'/itom/updatemail/',
                    method:'post',
                    data:data.field,
                    dataType:'JSON',
                    success:function(res){
                        if(res.code='0'){
                            {#parent.closeIframe(res.msg);#}
                            layer.msg('添加成功');
                        }
                        else
                            layer.msg('添加失败');
                            {#alert(res.msg);#}
                        },
                    error:function (data) {
                    }
                });
                return false;
            });
        });
    </script>
{#    #table数据#}
{#    <script>#}
{#    layui.use('table', function(){#}
{#      var table = layui.table;#}
{##}
{#      //第一个实例#}
{#      table.render({#}
{#        elem: '#demo'#}
{#        ,height: 312#}
{#        ,url: 'itom/update' //数据接口#}
{#        ,page: true //开启分页#}
{#        ,cols: [[ //表头#}
{#          {field: 'id', title: 'ID', width:150, sort: true, fixed: 'left'}#}
{#          ,{field: 'platform', title: '平台', width:150}#}
{#          ,{field: 'program', title: '程序', width:150}#}
{#          ,{field: 'group', title: '组名', width:150}#}
{#          ,{field: 'dates', title: '日期', width: 150}#}
{#          ,{field: 'ctime', title: '时间', width: 150, sort: true}#}
{#          ,{field: 'result', title: '结果', width: 150}#}
{#        ]]#}
{#      });#}
{#    });#}
{#    </script>#}
{% endblock %}