{% extends 'itom/base.html' %}
{% block title %}
    执行操作
{% endblock %}
{% block main %}
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset class="layui-elem-field">
                <legend>程序更新 - 配置</legend>
                <div class="layui-field-box">
                    <form class="layui-form" action="" lay-filter="admin-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">平台：</label>
                            <div class="layui-input-block">
                                <select name="platform" lay-verify="required">
                                    <option value=""></option>
                                    <option value="SinaShow">SinaShow</option>
                                    <option value="FengBo">疯播</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">程序：</label>
                            <div class="layui-input-block">
                                <select name="program" lay-verify="required">
                                    <option value=""></option>
                                    <option value="AvsServer">AvsServer</option>
                                    <option value="ChatServer">ChatServer</option>
                                    <option value="TransTrans">TransTrans</option>
                                    <option value="PhoneChatServer">PhoneChatServer</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">日期：</label>
                            <div class="layui-input-block">
                                <select name="week" lay-verify="required">
                                    <option value=""></option>
                                    <option value="Monday">Monday</option>
                                    <option value="Tuesday">Tuesday</option>
                                    <option value="Wednesday">Wednesday</option>
                                    <option value="Thursday">Thursday</option>
                                    <option value="Friday">Friday</option>
                                    <option value="Saturday">Saturday</option>
                                    <option value="Sunday">Sunday</option>
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">组名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="group" value="" lay-verify="required" placeholder="请输入" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">版本号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="version" value="" lay-verify="required" placeholder="请输入" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">程序地址：</label>
                            <div class="layui-input-block">
                                <input type="text" name="ftpadd" value="" lay-verify="required" placeholder="Ftp地址" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="admin-form">提交</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block myScript %}
    <script src="/static/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/static/layuiadmin/'
        }).extend({
            index: 'lib/index'
        }).use(['index', 'form'], function () {
            var $ = layui.$
            ,admin = layui.admin
            ,form = layui.form;

            form.render(null, 'admin-form');

            form.on('submit(admin-form)', function(data){
                var field = data.field,
                index = layer.load(2, {shade: false});
                admin.req({
                    url: "{% url 'asyncexecute' %}"
                    ,method: 'POST'
                    ,data: field
                    ,success: function (msg) {
                        layer.closeAll('loading');
                        if(msg.code ==0){
                            parent.layer.msg(msg.msg, {
                                icon: 1,
                                shade: [0.6, '#393D49'],
                                time: 1500
                            }, function () {
                                parent.location.reload();
                            });
                        }else{
                            parent.layer.msg(msg.msg, {
                                icon: 5,
                                shade: [0.6, '#393D49'],
                                time: 1500
                            });
                        }
                    }
                  });
              return false;
            });

        });
    </script>
{% endblock %}