{% extends 'itom/base.html' %}
{% block title %}
    用户编辑
{% endblock %}
{% block main %}
    <div class="layui-card">
        <div class="layui-card-body">
            <fieldset class="layui-elem-field">
                <legend>用户管理 - 编辑</legend>
                <div class="layui-field-box">
                    <form class="layui-form" action="" lay-filter="admin-form">
                        <input type="hidden" name="id" value="{{ data.id }}">
                        <div class="layui-form-item">
                            <label class="layui-form-label">账号：</label>
                            <div class="layui-input-block">
                                <input type="text" name="user" value="{{ data.user }}" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">姓名：</label>
                            <div class="layui-input-block">
                                <input type="text" name="name" value="{{ data.name }}" readonly class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">部门：</label>
                            <div class="layui-input-block">
                                <select name="org" lay-verify="required">
                                    {% for o in org %}
                                        {% if data.org_id == o.id %}
                                            <option value="{{ o.id }}" selected>{{ o.name }}</option>
                                        {% else %}
                                            <option value="{{ o.id }}">{{ o.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">所属组：</label>
                            <div class="layui-input-block">
                                <select name="group" lay-verify="required">
                                    {% for g in group %}
                                        {% if data.group_id == g.id %}
                                            <option value="{{ g.id }}" selected>{{ g.name }}</option>
                                        {% else %}
                                            <option value="{{ g.id }}">{{ g.name }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">邮箱：</label>
                            <div class="layui-input-block">
                                <input type="text" name="email" value="{{ data.email }}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit lay-filter="admin-form">立即提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </fieldset>
        </div>
    </div>
{% endblock %}

{% block myScript %}
    <script src="/static/layuiadmin/layui/layui.js"></script>
    <script>
        layui.config({
            base: '/static/layuiadmin/'
        }).extend({
            index: 'lib/index'
        }).use(['index', 'form'], function () {
            var $ = layui.$
            ,admin = layui.admin
            ,form = layui.form;

            form.render(null, 'admin-form');

            form.on('submit(admin-form)', function(data){
                var field = data.field,
                index = layer.load(2, {shade: false});
                admin.req({
                    url: '/itom/useredit/'+{{ data.id }}
                    ,method: 'POST'
                    ,data: field
                    ,success: function (msg) {
                        layer.closeAll('loading');
                        if(msg.code ==0){
                            parent.layer.msg(msg.msg, {
                                icon: 1,
                                shade: [0.6, '#393D49'],
                                time: 1500
                            }, function () {
                                parent.location.reload();
                            });
                        }else{
                            parent.layer.msg(msg.msg, {
                                icon: 5,
                                shade: [0.6, '#393D49'],
                                time: 1500
                            });
                        }
                    }
                  });
              return false;
            });

        });
    </script>
{% endblock %}